.back-blue{
    background-color: moccasin;
}
.back-green{
    background-color: seashell;
}
.back-red{
    background-color: coral;
}
.back-yellow{
    background-color: sandybrown;
}
.back-prune{
    background-color: peru;
}