@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
.back-blue {
  background-color: blueviolet;
}
.back-green {
  background-color: seashell;
}
.back-red {
  background-color: coral;
}
.back-yellow {
  background-color: sandybrown;
}
.back-prune {
  background-color: peru;
}

*, body {
  margin: 0;
  padding:0;
  font-family: 'Antic Slab', serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: url('https://image.freepik.com/vecteurs-libre/blanc-luxe-fond-vagues_52683-38544.jpg') no-repeat fixed !important;
  background-size: cover !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Chargement */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background:#80c1c9;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
/* NavBar*/
.navbar {
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgba(89, 16, 214, 0.37) 0%,
    #1931ce 100%
  );
  border-radius: 0% 0% 10px 10px;
  padding-bottom: 10px;
  margin-bottom:90px !important;
  width: 100%;
}
.navbar a {
  font-family: 'Antic', sans-serif;
  font-size:1.3em;
  transition: all .3s ease-in;
}
.navbar .navTitle {
  color: white !important;
}
.navTitle{
  font-size:2.5em !important;
}
.icon-home, .icon-user, .icon-log {
  font-size: 2em !important;
  color: #f3f1f1 !important;
}
.icon-home:hover,
.icon-user:hover,
.icon-log:hover{
  color: #2a0441 !important;
  transition: transform .3s;
  transform: scale(1.5);
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-burger-text{
  display:none !important;
}
.navbar-burger-text a{
  font-size:1.3em !important;
  text-align: center !important;
  transition: transform .5s;
  transform: scale(1);
}
.navTitle:hover {
  color: #2a0441 !important;
  transition: transform .3s;
  transform: scale(1.1);
}
.navbar-toggler{
  background-color: rgba(255, 255, 255, 0.397) !important;
}
.navbar-light .navbar-toggler {
  color: rgba(163, 109, 233, 0.335) !important;
  border-color: rgba(31, 199, 211, 0.87) !important;
}
.btn-setPosition {
  margin: auto;
}

/*search bar*/
.input-group.md-form.form-sm.form-1 input {
  display: flex;
  border: 1px solid #bdbdbd;
  width: 70%;
  height: 2em;
  margin-top: 2em;
  border-radius: 7px;
}
.input-group-prepend {
  padding: 31px 23px 0 34px;
  font-size: 1.5em;
  color: white;
}

/*liste evenements*/
.events-list-container {
  margin-right: 30px;
  margin: 0.6em;
  padding: 10px;
  text-align: center;
  text-shadow: 5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 150px #ec63e5;
  color: #a117d8;
}
.events-list {
  border: 1px solid rgba(87, 10, 131, 0.075);
  border-radius: 7px;
  box-shadow: 8px 10px 5px rgba(104, 10, 141, 0.198);
  margin: 10px 0px 20px 10px !important;
  list-style-type: none;
}
.events-list p {
  text-align: justify;
  margin: 10px;
}
.eventImg {
  margin-left: 20px;
}
.event-info {
  border: 1px solid rgb(245, 246, 246);
  border-radius: 7px;
  box-shadow: 4px 5px 5px rgb(212, 220, 223);
  margin: 10px;
  padding-left: 5px;
}
.gras {
  font-weight: bold;
}
/*Home*/
.eventFilter{
  margin-top:100px !important;
}
.containerInput, .row-spinner{
  display: flex;
  margin-top:7em !important;
}
.inputHome {
  width:300px;
  background:none;
  border: 1px solid #80c1c9;
  color:#282d2e;
  padding:5px;
  border-radius:4px;
  margin-left: 10px;
}
.inputHome2 {
  margin-left:10px !important;
  width:300px !important;
  background:none !important;
  border: 1px solid #80c1c9 !important;
  color:#282d2e !important;
}
.absolutTitle{
  position:relative;
  font-family: 'Antic', sans-serif;
  font-weight: bold;
  margin: 0;
  color: white;
}
/*img home random*/
.imgRandomHome {
  cursor: pointer;
}
.imgRandomHome img{
  border-radius:25px;
}
.imgConcert{
  font-size:7em;
  text-shadow: 0 0 0.05em rgb(216, 103, 191), 0 0 0.2em #ec1eca, 0 0 0.3em #ca0bdb;
  transform: rotate(-8deg);
}
.imgConcert p {
  transform: rotate(-10deg);
  margin-bottom:-25px;
}
.imgMusee p {
  transform: rotate(9deg);
  margin-top:30px;
  margin-bottom:-20px;
}

.imgMusee{
  font-size:7em;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #3d3f3c, 0 0 0.3em #5a5f5a;
  transform: rotate(10deg);
}
.imgSport{
  font-size:7em;
  text-shadow: 0 0 0.05em rgb(177, 180, 177), 0 0 0.2em #1ee604, 0 0 0.3em #0fc561;
  transform: rotate(-14deg);
}

/*LOGIN*/
.boxContainer{
  width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
}
.topContainer{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
}
/*Rideaux*/
.backDrop{
  width: 72%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(27deg);
  top: -300px;
  left: -80px;
  background: rgb(224, 223, 215);
  background: linear-gradient(
    0deg,
    rgba(89, 16, 214, 0.37) 0%,
    rgba(45, 253, 146, 0.438) 100%
  );
  margin-top:10%;
  margin-left:16%
}
.headerContainer{
  width:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:-150px;
}
.headerText{
  font-size:70px;
  color:white;
  font-weight: bold;
  background-color: #042e4286;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 4px 3px;
}
.formContainer{
  margin:auto;
  margin-top:2%;
  width:40%;
  display:flex;
  flex-direction: column;
}

/*Media queries */
 @media (max-width: 1830px) {
  .navbar {
    width: 99%;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .backDrop{
    height:120%;
  }
  .formContainer{
    width:50%;
  }
  /*log*/
  .headerContainer{
    margin-left:-4% !important;
  }
}
@media (max-width: 900px) {
  .imgConcert{
    font-size: 5em;
  }
  .imgMusee{
    font-size: 5em;
  }
  .imgSport{
    font-size:4.5em;
  }
}
@media (max-width: 760px) {
  /*log*/
  .headerContainer{
    margin-left:0% !important;
  }
  .backDrop{
    height:110%;
    transform: rotate(60deg);
  }
  /*home random*/
  .imgConcert{
    font-size: 4em;
  }
  .imgMusee{
    font-size: 4em;
  }
  .imgSport{
    font-size:3.5em;
  }
}
@media (max-width:575px){
  /*navbar + burger*/
  .navbar-burger-icon {
    display:none !important;
  }
  .navbar-burger-text {
    display: flex !important;
  }
}
@media (max-width: 560px) {
  /*Login for smartphone*/
  .backDrop{
    transform: rotate(27deg);
    height:82%;
    width:65%;
    transform: rotate(30deg);
  }
  .headerText{
    font-size:55px;
    color:white;
    font-weight: bold;
    background-color: #042e4286;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
      text-shadow: rgba(255,255,255,0.5) 0px 4px 3px;
  }
  .headerContainer{
    margin-left: -7% !important;
  }
  .formContainer{
    margin:auto;
    margin-top:20%;
    width:85%;
  }
}

/* Smartphone */
@media (max-width: 440px) {
  /*Evenements */
  .events-list img {
    width: 90%;
    height: auto;
    margin: 3px;
    border-radius: 5px;
  }
  /* img random home*/
  .imgRandomHome{
    margin-left:10px;
  }
  .imgConcert{
    font-size: 3em;
    top: 2.5em;
  }
  .imgMusee{
    font-size: 3em;
    top:2em;
  }
  .imgSport{
    font-size:2.5em;
    top:3.5em;
  }
}
